<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>테스트</title>
		<link rel="stylesheet" th:href="@{/css/reset.css}">
		<link rel="stylesheet" th:href="@{/css/all.min.css}">
		<link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script src="/js/index.js"></script>
</head>
<body>
	<div id="wrap">
		<header>
			<div id="header-box">
				<h1 class="logo"><a href="#"><img src="/img/logo_white.png" alt="패스뱅크"></a></h1>
				<div>
					<ul class="nav">
						<li class="main-menu"><a href="#">MY</a>
							<ul class="sub-nav">
								<li class="sub-menu"><a href="#">로그인</a></li>
								<li class="sub-menu"><a href="#">회원가입</a></li>
							</ul>
						</li>
						<li class="main-menu"><a href="#">통장</a>
							<ul class="sub-nav">
								<li class="sub-menu"><a href="#">통장개설</a></li>
								<li class="sub-menu"><a href="#">계좌조회</a></li>
							</ul>
						</li>
						<li class="main-menu"><a href="#">이체</a>
							<ul class="sub-nav">
								<li class="sub-menu"><a href="#">계좌이체</a></li>
								<li class="sub-menu"><a href="#">증권이체</a></li>
							</ul>
						</li>
						<li class="main-menu"><a href="#">상품</a>
							<ul class="sub-nav">
								<li class="sub-menu"><a href="#">증권 구매</a></li>
								<li class="sub-menu"><a href="#">증권 판매</a></li>
							</ul>
						</li>
					</ul>
					<div id="box-bg">
					</div>
				</div>
				<div class="top-nav">
					<span><a href="#">금융가이드</a></span>
					<span><a href="#">관리자</a></span>
					<span><a href="#">${id} 로그인</a></span>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="main-banner">
				<div class="main-text">
					<h2>처음하는 금융생활,<br>바로 여기서 시작해보세요.</h2>
					<a href="#" class="banner-btn btn">자세히 보기</a>
				</div>
			</div>
			<div class="news-box">
				<h2>News</h2>
				<ul class="card">
					<li><a href="#"></a>
					<ul class="card-box">
						<li>제목</li>
					</ul>
					</li>
					<li><a href="#">뉴스레터</a></li>
					<li><a href="#">뉴스레터</a></li>
					<li><a href="#">뉴스레터</a></li>
					<li><a href="#">뉴스레터</a></li>
					<li><a href="#">뉴스레터</a></li>
				</ul>
			</div>
		</main>
	</div>
</body>
</html>